.enchantCard {
  background-color: #3c3b40 !important;
  box-sizing: border-box;
  margin: 8px;
  padding: 8px;
}

.cardBox {
  display: flex;
  align-items: center;
}

.inline {
  color: #fff;
  display: inline;
  margin-left: 16px;
  margin-right: -24px;
  vertical-align: middle;
}

.title {
  color: #fff;
  font-weight: bold;
}

.value {
  color: #fff;
}

.accordionButton {
  margin-left: auto;
}
