.mobileHeader {
  position: sticky;
  top: 56px;
  z-index: 3;
}

.verticalCenter {
  position: absolute;
  top: 50%;
}

.pcContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
