.freeSearchBox {
  background-color: #1f2023;
  box-sizing: border-box;
  padding-right: 8px;
  padding-top: 8px;
  position: sticky;
  text-align: right;
  width: 100%;
  z-index: 3;
  margin-top: -3px;
}

.freeSearchBoxBrowser {
  height: 44px;
  top: 64px;
}

.freeSearchBoxMobile {
  height: 56px;
  top: 56px;
}

.freeSearchInput {
  background-color: #191919;
  border: 1px solid #424242;
  color: #fff;
  height: 32px;
  padding-left: 8px;
}

.freeSearchInputBrowser {
  width: 99%;
}

.freeSearchInputMobile {
  width: 95%;
}
