.pagination {
  background-color: #3c3b40;
  border-bottom: 1px solid rgba(81, 81, 81, 1);
  border-top: 1px solid rgba(81, 81, 81, 1);
  color: #ccc !important;
}

.pagination svg {
  color: #fff !important;
}

.pagination button:disabled > svg {
  color: black !important;
}
