/**
 * やむをえずCSSを使わなければならない場合のみ使用
 * 原則CSSファイルを利用しない
 */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #27292D !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/** chormeでテキストエリアにオートコンプリート時に背景色がつかない変更 */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #191919 inset;
  -webkit-text-fill-color: #fff;
}