.button {
  background: #424242 !important;
  border-radius: 0 !important;
  color: #fff !important;
  cursor: pointer;
}

.button:hover {
  background: #424242;
}

.searchBar {
  background-color: #191919;
  border: 1px solid #424242;
  display: flex;
  justify-content: space-between;
}
.searchBarBrowser {
  width: 50%;
}
.searchBarMobile {
  width: 100%;
}

.searchBarDisplay {
  display: flex;
  justify-content: center;
  width: 100%;
}

.searchBarInput {
  background-color: #191919;
  border: none !important;
  color: #fff;
  padding-left: 10px;
  width: 100%;
}

.searchBarInput:focus {
  outline-width: 0;
}
